
.episodes{
    margin-bottom: 160px;
}
.episodes__header{
    display: flex;
    justify-content: space-between;

}
.title{
    font-size: 64px;
    letter-spacing: 5px;
}
.episodes__title{
    margin:93px 0 0 0;
}

.button{
    background-color: #118DA8;
    font-size: 17px;
}

.button:hover{
    background-color: #1ab4d6;
}

.episodes__button{
    margin-top: 124px;
    width: 178px;
    height: 51px;
    border-radius: 6px;
}

.episodes__cards{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 64px;
}

.card{
    display: flex;
    background-color: black;
    border-radius: 32px;
}
.episodes__card{
    padding: 40px;

}


.card__desription{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 53px;
}

.blueText{
    color: #118DA8;
    font-size:17px;
}


.button__black{
    background-color:#191919;
    border-radius: 6px;
    width: 73px;
    height: 27px;
    font-size:18px;
}
.button__black--wide{
    width: 136px;
}

.text{
    color:rgba(255,255,255,0.7);
    font-size: 22px;
}
.card__button{
    width: 208px;
    height: 51px;
    border-radius: 6px;
}



